.action-button {
    text-transform: capitalize;
    width: 100%;
  }

  ion-button.action-button {
    --background: #e53935;
    --color: white;
  }
  

  .setting-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    border-bottom: 1px solid #f0f0f0;

    &:last-child {
      border-bottom: none;
    }

    label {
      font-size: 1rem;
      color: #555;
    }
  }